<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lottery Data Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <div>
        <a href="/EDA"><button>Go to EDA</button></a>
        <a href="/"><button>Go to home page</button></a>
    </div>
    <h2>Model Evaluation Metrics</h2>
    <table border="1">
        <tr>
            <th>Metric</th>
            <th>Value</th>
        </tr>
        {% for key, value in metrics.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Visualization</h1>
    {% for plot_div in plots_divs %}
        <div>{{ plot_div|safe }}</div>
    {% endfor %}

</body>
</html>
